body {
	text-align: left;
}

header {
	font-family: Courier, monospace;
	font-weight: lighter;
	text-align: left;

}

h1 {
	font-family: Courier, monospace;
	font-weight: lighter;
	text-align: center;
}

p {
	font-family: "Courier New", monospace;
}



