body {
	text-align: left;
}

h1 {
	font-family: Courier, monospace;
	font-weight: lighter;
	text-align: center;
	text-transform: uppercase;
	font-size: 20px;
}

#second
{
	font-family: Courier, monospace;
	font-weight: lighter;
	font-style:italic;
	text-align: center;
	text-transform: lowercase;
	font-size: 11px;
}

h4 {
	font-family: Courier, monospace;
	font-weight: lighter;
	text-decoration: underline;
	text-align: left;
	font-size: 11px;
}

ul {
	font-family: Courier, monospace;
	font-weight: lighter;
    text-align: left;
    font-size: 10px;
    color: #A9A9A9
    
}

p
{
	font-family: Courier, monospace;
	font-weight: lighter;
	text-align: center;
	text-transform: lowercase;
	font-size: 11px;
}


