body {
	text-align: center;
}
h1 {
	font-family: Courier, monospace;
	font-weight: normal;
	text-decoration: underline;
	
}

h1{ 
font-weight: bold;
}

p {
	font-family: "Courier New", monospace;
}



